body {
    margin: 0;
    padding: 0;
    font-family: 'TISClassEdge_Regular', Fallback, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

:root {
    --progress: 0;
}

.progress {
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 0%;
    height: 20px;
    z-index: 3;
    padding-top: -20px;
    text-align: center;
}

.centered {
    position: absolute;
    max-width: 993px;
    width: 100%;
    height: 610px;
    left: 50%;
    top: 50%;
    /* margin-left: -496.5px;
    margin-top: -305px; */
}

#wrapper_parent {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 993px;
    height: 610px;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#wrapper {
    position: relative;
    width: 993px;
    height: 610px;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    background-color: #fff;
}


/* ------------------------------------------------- */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 14px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    font-size: 16px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 7em auto;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 2%;
    position: relative;
    /* left: 37%;
    top: 18%;*/
    max-width: 360px;
    display: block;
    overflow: hidden;
    /* border-top: 45px solid #c4dbec;
    border-bottom: 45px solid #c4dbec; */
}

.top-panel {
    background: #c4dbec;
    padding: 15px 0 15px 13px;
    border-radius: 7px 7px 0 0;
    text-align: left;
}

.top-panel span {
    font-weight: 600;
    color: #4a4a4a;
}

.bottom-panel {
    background: #c4dbec;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
}

.bottom-panel img {
    cursor: pointer;
}

.modal-content h4 {
    margin: -14% 0% 0% -2%;
    color: #555555;
}

.modal-content p {
    margin: 8% 0% 5% 0;
    text-align: center;
    color: #929292;
    font-weight: 600;
}

table {
    width: 80%;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 15px;
}

table td {
    width: 60%;
    padding: 4% 4% 5% 4%;
    color: #555555;

}

#modal-plygame-btn {
    text-align: right;
    padding: 4px 0 0;
}

/* The Close Button */
.close {
    color: #aaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    display: block;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* @media only screen and (max-width: 400px) {
    .modal-content {
        margin: 8em;
    }
} */

.modal-main-block {
    position: relative;
    width: 100%;
    height: auto;
    margin: 8px auto;
    display: block;
    overflow: hidden;
}

/* @media screen and (max-width: 469px),
screen and (max-height: 480px) {
    .modal-content {
        margin: 1em auto;
        max-width: 280px;
    }
} */
select#timer, select#timer option{
    font-family: 'TISClassEdge_Regular', Fallback, sans-serif;
    color: #555555;
    font-size: 14px;
    font-weight: 700;
}
input#randomizeCheckbox{
    margin-left: 0;
}
#progress{
    position: absolute;
    top: 45%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}